/* Container card */

.container__BigCard {
  font-family: var(--mainFont);
}

/* -------------- */

/* Container header */

.BigCard__box_header {
  background-color: var(--orangeColor);
  width: 37rem;
  height: 8.4rem;
  border-radius: 1.9rem;
  position: relative;
  top: 4.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_header__title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
}

/* ---------------- */

/* BigCard main info */

.BigCard__box_content {
  background-color: white;
  width: 37rem;
  height: 32.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Left content */
.box_content__information {
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 18.5rem;
}

.information__box {
  color: var(--orangeColor);
  font-size: 3.4rem;
  font-weight: bold;
}

.information__specifics {
  font-size: 1.8rem;
  color: #9d9d9d;
}

.information__price {
  color: #9d9d9d;
  font-size: 1.4rem;
  font-weight: 400;
  width: 14rem;
}

/* ------------ */

.box_content__image {
  padding-top: 4.5rem;
  width: 16.8rem;
  height: 23rem;
}

.image_BigCard {
  margin-top: 2.5rem;
  width: 100%;
  object-fit: cover;
}
