.container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.container__Specifications {
  margin: 0 auto;
  font-family: var(--mainFont);
  display: flex;
  flex-direction: column;
  width: 117.2rem;
}

.container__breadcrumb {
  font-family: var(--mainFont);
  font-size: 1.4rem;
  color: var(--blueColor);
  margin-bottom: 3.5rem;
}

.container__breadcrumb button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: var(--blueColor);
  font-weight: bold;
}

.container__breadcrumb button:hover {
  text-decoration: underline;
}

/* Container  */

.container__details {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 7.5rem;
  align-self: center;
}

/* Images */
.details__images {
  width: 70.5rem;
  height: 59.1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.7rem;
  margin-right: 8rem;
}

.side_image {
  width: 12rem;
  height: 13.5rem;
}

.main_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / -1;
  grid-row: 1 / 5;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 56.8rem;
  height: 59.1rem;
}

.main_image_icon_container {
  position: absolute;
}

.card__like_button {
  position: relative;
  width: 3.4rem;
  height: 3rem;
  bottom: 25rem;
  left: 24rem;
}

.card__like_button:hover {
  cursor: pointer;
  filter: invert(15%) sepia(98%) saturate(7313%) hue-rotate(9deg)
    brightness(98%) contrast(119%);
}

.main_image {
  width: 330px;
}

/* info */
.details__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_title {
  font-size: 2.4rem;
  color: var(--blueColor);
  font-weight: bold;
}

.main_subtitle {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: bold;
}

.price {
  font-size: 2.4rem;
  color: var(--orangeColor);
}

.price_months {
  font-size: 1.4rem;
  color: #9d9d9d;
}

.price_months--orange {
  color: var(--orangeColor);
}

.title {
  font-size: 1.8rem;
  color: var(--blueColor);
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.memory__button {
  display: inline-block;
  margin-right: 2rem;
  width: 7rem;
  height: 4rem;
  border: 0.1rem solid #e5e5e5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.4rem;
  font-size: 1.8rem;
  color: #868585;
  padding-top: 0.7rem;
  text-align: center;
  background-color: white;
}

.memory__button:hover {
  cursor: pointer;
}

.memory__button:nth-child(3) {
  border: 1px solid #2d3789;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 14px;
  color: #2d3789;
}

.info__quantity {
  font-size: 1.8rem;
  color: #868686;
}

.span-color {
  font-size: 16px;
}

.color {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.4rem;
  margin-right: 1.9rem;
}

.color:hover {
  cursor: pointer;
}

.color--red {
  background-color: #ff0000;
}

.color--blue {
  background-color: #8dccd0;
}

.color--white {
  background-color: #fff;
}

.color--black {
  background-color: #000;
}

.info__payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23.3rem;
}

.payment__button {
  background: #2d3789;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  width: 23.3rem;
  height: 4rem;
  margin-bottom: 2rem;
  border: none;
}

.payment__button:hover {
  cursor: pointer;
}

.payment__button:active {
  transform: translateY(0.1rem);
}

.payment__cart {
  font-size: 1.4rem;
  color: #868585;
}

.payment__cart:hover {
  cursor: pointer;
  text-decoration: underline;
}

.payment__cart img {
  width: 2.058rem;
  height: 1.302rem;
}

.characteristics__info {
  color: #727272;
  font-size: 1.8rem;
}
