#banner {
  padding: 1vh 0;
  .product {
    width: 15vw;
    padding: 1vh 3vh;
    color: white;
    background-color: #2d3781;
    border-radius: 10px;
    font-size: 2vh;
  }
  #iphone {
    margin-left: 40%;
    margin-bottom: 10%;
  }
  #shark {
    margin-left: 15%;
    margin-bottom: 10%;
  }
  #galaxy {
    margin-left: 15%;
    margin-bottom: 6%;
  }
}
